@import "tailwindcss";
:root {
  --crt-red: rgba(255, 0, 0, 0.6);
  --crt-green: rgba(0, 255, 0, 0.6);
  --crt-blue: rgba(0, 0, 255, 0.6);
}


.fondovi {
  position: relative;
  min-height: 100vh;
  width: 100%;

  &::before,
  &::after {
    content: "";
    pointer-events: none;
    mix-blend-mode: overlay;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
  }

  /* líneas horizontales */
  &::before {
    background: repeating-linear-gradient(
      var(--crt-red) 2px,
      var(--crt-green) 6px,
      var(--crt-blue) 8px
    );
    animation: crt-flicker 0.08s infinite;
  }

  /* líneas verticales */
  &::after {
    background: repeating-linear-gradient(
      90deg,
      var(--crt-red) 19px,
      var(--crt-green) 19px,
      var(--crt-blue) 19px
    );
    animation: crt-shift 5s infinite linear alternate;
  }
}

/* Animación de parpadeo */
@keyframes crt-flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.2;
  }
}

/* Animación de interferencia lateral */
@keyframes crt-shift {
  0% {
    transform: translateX(0);
    opacity: 0.8;
  }
  100% {
    transform: translateX(2px); /* efecto de "desfase" */
    opacity: 1;
  }
}

.tutorial
{
  width: 50vw;
  display: none;
}