canvas {
    border:1px solid #000000;
    background-image: url('./background_0.png');
    padding-top: 78px;
    width: 58vw;
    image-rendering: pixelated;
}
.fondo{
    filter: blur(2px);
    padding-top: 75px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-width: 70%;
    height: auto;
}